@keyframes glowing-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.button {
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, #ffb900, #ff7730);
  background-size: 200% auto;
  border: none;
  border-radius: 25px;
  color: black;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  animation: glowing-pulse 2s infinite;
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 30px;
  box-shadow: 0 0 20px #ffb900;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  color: #ffb900;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
  background-position: right center;
}

.button:hover::before {
  opacity: 1;
}

.primary {
  background: #ffb900;
  font-family: inherit;
  padding: 0.6rem 1rem;
  font-weight: 600;
  font-size: 15px;
  border: 3px solid #000;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem;
  cursor: pointer;
}

.primary:hover {
  transform: translate(-0.05rem, -0.05rem);
  box-shadow: 0.15rem 0.15rem;
}

.primary:active {
  transform: translate(0.05rem, 0.05rem);
  box-shadow: 0.05rem 0.05rem;
}

.container {
  display: flex;
}
.container .geography_container {
  background-image: url("/worldmap.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .geography_container button {
  margin-right: 15rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .container .geography_container button {
    margin-top: 10rem;
    margin-right: 10rem;
  }
}
.container .geography_container:has(.geo:hover) {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 1;
  animation: geography 2s;
}
.container .history_container {
  background-image: url("/history.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .history_container button {
  margin-left: 15rem;
  padding: 0.3rem 2rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .container .history_container button {
    margin-top: 10rem;
    margin-left: 10rem;
  }
}
.container .history_container:has(.his:hover) {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
  z-index: 2;
  animation: history 2s;
}
.container .title {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: #a09f66;
  box-shadow: 0px 0px 58px 34px rgb(0, 0, 0);
  text-align: center;
}
@media (max-width: 600px) {
  .container .title {
    margin-top: 3rem;
  }
}
.container .title p {
  font-size: 2rem;
}
@media (max-width: 600px) {
  .container .title p {
    font-size: 1rem;
  }
}

@keyframes history {
  0% {
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%);
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
  }
}
@keyframes geography {
  0% {
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
            clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.geography {
  width: 100%;
  height: 100vh;
  background-image: url("/worldmap.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history {
  width: 100%;
  height: 100vh;
  background-image: url("/history.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 400px;
  z-index: 1;
}
.spinner .loader {
  position: relative;
  left: 33%;
  padding: 1rem;
  width: 100%;
  background-image: linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 0 0, 40px 0, 80px 0, 120px 0;
  animation: pgfill 1s linear infinite;
}
@keyframes pgfill {
  0% {
    background-image: linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  }
  25% {
    background-image: linear-gradient(#ff7730 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  }
  50% {
    background-image: linear-gradient(#ff7730 20px, transparent 0), linear-gradient(#ff7730 20px, transparent 0), linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  }
  75% {
    background-image: linear-gradient(#ff7730 20px, transparent 0), linear-gradient(#ff7730 20px, transparent 0), linear-gradient(#ff7730 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
  }
  100% {
    background-image: linear-gradient(#ff7730 20px, transparent 0), linear-gradient(#ff7730 20px, transparent 0), linear-gradient(#ff7730 20px, transparent 0), linear-gradient(#ff7730 20px, transparent 0);
  }
}

.question {
  height: 100vh;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.question .quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(160, 159, 102, 0.8156862745);
  border-radius: 20%;
  padding: 0 1rem;
  width: 50vw;
  height: 100vh;
  list-style-type: none;
  justify-content: center;
}
@media (max-width: 600px) {
  .question .quiz {
    width: 80vw;
    justify-content: flex-start;
  }
}
.question h2 {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  word-spacing: 5px;
}
@media (max-width: 600px) {
  .question h2 {
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
    margin-bottom: 0.5rem;
    word-spacing: 2px;
  }
}
.question .answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 600px) {
  .question .answer {
    gap: 0.5rem;
  }
}
.question .answer .btn-answer {
  padding: 0.5rem;
  width: 200px;
  background: linear-gradient(to right, #ffb900, #ff7730);
  border-radius: 25px;
  color: black;
  text-transform: uppercase;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .question .answer .btn-answer {
    width: 150px;
  }
}
.question .answer .btn-answer:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
  background-position: right center;
}

.progress {
  margin-bottom: 1rem;
  padding: 0 3rem;
  display: grid;
  justify-content: space-between;
  gap: 0.5rem;
  grid-template-columns: auto auto;
  font-size: 1rem;
  color: #000;
  width: 100%;
}
@media (max-width: 600px) {
  .progress {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
  }
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1/-1;
}

progress::-webkit-progress-bar {
  background-color: #ff7730;
}

progress::-webkit-progress-value {
  background-color: #ffb900;
}

.finish_screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(160, 159, 102, 0.8156862745);
  border-radius: 20%;
  padding: 0 1rem;
  width: 50vw;
  height: 100vh;
  height: 50vh;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}
@media (max-width: 600px) {
  .finish_screen {
    width: 100%;
  }
}
.finish_screen .score {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 20%;
  background-color: rgba(160, 159, 102, 0.8156862745);
  padding: 0 1rem;
  width: 50%;
  height: 60vh;
  text-align: center;
}
@media (max-width: 600px) {
  .settings {
    height: 90vh;
    width: 80vw;
  }
}
.settings .primary {
  margin-top: 2rem;
}
.settings .difficulty {
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
}
@media (max-width: 600px) {
  .settings .difficulty {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.settings .difficulty select {
  border: 0.2em solid;
  border-radius: 1em;
}
@media (max-width: 600px) {
  .settings .difficulty select {
    width: 50%;
  }
}
.settings .numOfQuestions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  gap: 1rem;
}
@media (max-width: 600px) {
  .settings .numOfQuestions {
    flex-direction: column;
    font-size: 1rem;
  }
}
.settings .numOfQuestions input {
  width: 15%;
  border: 0.2em solid;
  border-radius: 1em;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  margin: 0;
}
.settings .numOfQuestions input input::-webkit-outer-spin-button,
.settings .numOfQuestions input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 600px) {
  .settings .numOfQuestions input {
    width: 50%;
  }
}

.btn-back {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  border: none;
  font-family: inherit;
  background-color: transparent;
  line-height: 2;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(160, 159, 102, 0.8156862745);
  border-radius: 20%;
  padding: 0 1rem;
  width: 50vw;
  height: 100vh;
  border-radius: 0%;
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Almendra SC", serif;
  font-size: 16px;
}/*# sourceMappingURL=index.css.map */